$button-radius: 6px;
$theme: rgb(0, 153, 255);
$theme-light: rgb(196, 218, 233);
$theme-dark: rgb(0, 88, 139);
$control-height: 36px;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: $theme-light;
}
main {
  display: flex;
  flex-direction: row;
  gap: 36px;
}
.controls {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
label {
  cursor: pointer;
}
canvas {
  border: 1px solid grey;
  background-color: white;
  border-radius: $button-radius;
}
div[role="group"] {
  display: flex;
  button {
    border: 1px solid grey;
    border-left-width: 0.5px;
    border-right-width: 0.5px;
    padding-left: 12px;
    padding-right: 12px;
    height: $control-height;
    cursor: pointer;
    &:hover {
      border-color: $theme-dark;
      background: $theme-light;
    }
    &[data-state="on"] {
      background-color: $theme;
      border-width: 1px;
      border-color: $theme-dark;
      color: white;
    }
    &:first-of-type {
      border-top-left-radius: $button-radius;
      border-bottom-left-radius: $button-radius;
      border-left-width: 1px;
    }
    &:last-of-type {
      border-top-right-radius: $button-radius;
      border-bottom-right-radius: $button-radius;
      border-right-width: 1px;
    }
  }
}
button[role="switch"] {
  height: 26px;
  width: 48px;
  position: relative;
  border: 1px solid #ffffff00;
  border-radius: 99px;
  background-color: grey;
  &[data-state="checked"] {
    background-color: $theme;
  }
  cursor: pointer;
  span {
    position: absolute;
    border-radius: 99px;
    top: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    transition: all 0.3s;
    background-color: white;
    &[data-state="checked"] {
      left: 24px;
    }
  }
}
input {
  height: $control-height;
  padding-left: 8px;
  border-radius: $button-radius;
  border: 1px solid grey;
  width: 70px;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#switch {
  gap: 8px;
}
#angle {
  border-radius: $button-radius;
  background-color: white;
  padding: 24px;
  font-size: xx-large;
}
.identities-row {
  display: flex;
  gap: 16px;
}
